body{
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 500px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: auto}

  .cabecera .logo{  width: 100%; padding-top: 10px}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{  width: 100%; display: grid; grid-template-columns: auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .ofertas {grid-area: ofertas; display: grid;}

  .oferts{ grid-area: oferts; padding: 5px; display: grid; grid-template-columns: auto auto auto; grid-gap: 5px}

  .oferts img{ width: 100%; height: 100% }

  .oferts img:hover{ cursor: pointer; transform: scale(0.9) }

  .ultimos {grid-area: ultimos; display: grid;}

  .ultims{ grid-area: ultims; padding: 5px; display: grid; grid-template-columns: auto auto auto; grid-gap: 5px}

  .ultims img{ width: 100%; height: 100% }

  .ultims img:hover{ cursor: pointer; transform: scale(0.9) }

  .otros {grid-area: otros; display: grid;}

  .otrs{ grid-area: otrs; padding: 5px; display: grid; grid-template-columns: auto auto auto; grid-gap: 5px}

  .otrs img{ width: 100%; height: 100% }

  .otrs img:hover{ cursor: pointer; transform: scale(0.9) }

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'ofertas ofertas ofertas ofertas ofertas ofertas'
    'oferts oferts oferts oferts oferts oferts'
    'ultimos ultimos ultimos ultimos ultimos ultimos'
    'ultims ultims ultims ultims ultims ultims'
    'otros otros otros otros otros otros'
    'otrs otrs otrs otrs otrs otrs'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 576px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 70%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .ofertas {grid-area: ofertas; display: grid;}

  .oferts{ grid-area: oferts; padding: 5px; display: grid; grid-template-columns: auto auto auto auto; grid-gap: 5px}

  .oferts img{ width: 100%; height: 100% }

  .oferts img:hover{ cursor: pointer; transform: scale(0.9) }

  .ultimos {grid-area: ultimos; display: grid;}

  .ultims{ grid-area: ultims; padding: 5px; display: grid; grid-template-columns: auto auto auto auto; grid-gap: 5px}

  .ultims img{ width: 100%; height: 100% }

  .ultims img:hover{ cursor: pointer; transform: scale(0.9) }

  .otros {grid-area: otros; display: grid;}

  .otrs{ grid-area: otrs; padding: 5px; display: grid; grid-template-columns: auto auto auto auto; grid-gap: 5px}

  .otrs img{ width: 100%; height: 100% }

  .otrs img:hover{ cursor: pointer; transform: scale(0.9) }

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'ofertas ofertas ofertas ofertas ofertas ofertas'
    'oferts oferts oferts oferts oferts oferts'
    'ultimos ultimos ultimos ultimos ultimos ultimos'
    'ultims ultims ultims ultims ultims ultims'
    'otros otros otros otros otros otros'
    'otrs otrs otrs otrs otrs otrs'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 768px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .ofertas {grid-area: ofertas; display: grid;}

  .oferts{ grid-area: oferts; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto; grid-gap: 5px}

  .oferts img{ width: 100%; height: 100% }

  .oferts img:hover{ cursor: pointer; transform: scale(0.9) }

  .ultimos {grid-area: ultimos; display: grid;}

  .ultims{ grid-area: ultims; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto; grid-gap: 5px}

  .ultims img{ width: 100%; height: 100% }

  .ultims img:hover{ cursor: pointer; transform: scale(0.9) }

  .otros {grid-area: otros; display: grid;}

  .otrs{ grid-area: otrs; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto; grid-gap: 5px}

  .otrs img{ width: 100%; height: 100% }

  .otrs img:hover{ cursor: pointer; transform: scale(0.9) }

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'ofertas ofertas ofertas ofertas ofertas ofertas'
    'oferts oferts oferts oferts oferts oferts'
    'ultimos ultimos ultimos ultimos ultimos ultimos'
    'ultims ultims ultims ultims ultims ultims'
    'otros otros otros otros otros otros'
    'otrs otrs otrs otrs otrs otrs'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 992px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .ofertas {grid-area: ofertas; display: grid;}

  .oferts{ grid-area: oferts; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto auto auto; grid-gap: 5px}

  .oferts img{ width: 100%; height: 100% }

  .oferts img:hover{ cursor: pointer; transform: scale(0.9) }

  .ultimos {grid-area: ultimos; display: grid;}

  .ultims{ grid-area: ultims; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto auto auto; grid-gap: 5px}

  .ultims img{ width: 100%; height: 100% }

  .ultims img:hover{ cursor: pointer; transform: scale(0.9) }

  .otros {grid-area: otros; display: grid;}

  .otrs{ grid-area: otrs; padding: 5px; display: grid; grid-template-columns: auto auto auto auto auto auto auto; grid-gap: 5px}

  .otrs img{ width: 100%; height: 100% }

  .otrs img:hover{ cursor: pointer; transform: scale(0.9) }

  .enlaces{ grid-area: enlaces; padding: 5px; border-bottom: 1px solid #000; border-radius: 20px}

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'ofertas ofertas ofertas ofertas ofertas ofertas'
    'oferts oferts oferts oferts oferts oferts'
    'ultimos ultimos ultimos ultimos ultimos ultimos'
    'ultims ultims ultims ultims ultims ultims'
    'otros otros otros otros otros otros'
    'otrs otrs otrs otrs otrs otrs'
    'pie pie pie enlaces enlaces enlaces';
  }
}
