body{
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 500px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: auto}

  .cabecera .logo{  width: 100%; padding-top: 10px}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{  width: 100%; display: grid; grid-template-columns: auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .productos {grid-area: productos; display: grid;}

  .productos img{ width: 100px; height: 100px }

  .productos td{ padding: 10px 40px 10px 40px; border-bottom: 1px black dashed}

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'productos productos productos productos productos productos'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 576px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 70%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .productos {grid-area: productos; display: grid;}

  .productos img{ width: 100px; height: 100px }

  .productos td{ padding: 10px 40px 10px 40px; border-bottom: 1px black dashed}

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'productos productos productos productos productos productos'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 768px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .productos {grid-area: productos; display: grid;}

  .productos img{ width: 100px; height: 100px }

  .productos td{ padding: 10px 40px 10px 40px; border-bottom: 1px black dashed}

  .enlaces{ grid-area: enlaces; padding: 5px; }

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'productos productos productos productos productos productos'
    'enlaces enlaces enlaces enlaces enlaces enlaces'
    'pie pie pie pie pie pie';
  }
}

@media (min-width: 992px) {
  .cabecera{ grid-area: menu;  display: grid; grid-template-columns: 40% 60%}

  .cabecera .logo{  padding-top: 10px; text-align: left}

  .cabecera .logo img{ width: 50%; height: 80px}

  .cabecera .menu{ display: grid; grid-template-columns: auto auto auto auto}

  .cabecera .menu button{ margin-top: 10%; text-decoration: none; padding: 5px; font-weight: 100; font-size: 15px; color: #ffffff; background-color: #7844c5; border-radius: 6px; border: 1px solid #0016b0 }

  .cabecera .menu button:hover{ color: #7844c5; background-color: #ffffff; cursor: pointer}

  .productos {grid-area: productos; display: grid;}

  .productos img{ width: 100px; height: 100px }

  .productos td{ padding: 10px 40px 10px 40px; border-bottom: 1px black dashed}

  .enlaces{ grid-area: enlaces; padding: 5px; border-bottom: 1px solid #000; border-radius: 20px}

  .enlaces img{ width: 60px; margin-left: 10px}

  .enlaces img:hover{ cursor: pointer; transform: scale(0.9) }

  .pie{ grid-area: pie; border-bottom: 1px solid #000; border-radius: 20px}

  .container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'menu menu menu menu menu menu'
    'productos productos productos productos productos productos'
    'otrs otrs otrs otrs otrs otrs'
    'pie pie pie enlaces enlaces enlaces';
  }
}
